<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giảng Viên và Cán Bộ</title>
    <link href="css/header.css" rel="stylesheet">
    <link href="css/giangVien.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="body">
        <!-- Header -->
        <div class="header">
            <div>
                <img class="Logo-img" src="img/logoTruong.png">
            </div>

            <div class="name-school">
                <div class="boTNMT">
                    BỘ TÀI NGUYÊN VÀ MÔI TRƯỜNG
                </div>

                <div class="tenTruong">
                    TRƯỜNG ĐẠI HỌC TÀI NGUYÊN VÀ MÔI TRƯỜNG TP.HCM
                </div>

                <div class="englishName">
                    HO CHI MINH UNIVERSITY OF NATURAL RESOURCES AND ENVIRONMENT
                </div>
            </div>

            <div th:replace="~{fragment::account}"></div>
        </div>

        <!-- Header1 -->
        <div th:replace="~{fragment::header}"></div>

        <div class="container">
            <div class="container-baiviet">
                <h2>BÀI VIẾT</h2>
                <div class="baiViet">
                    <div>
                        <img class="logoTruong" src="img/logoTruong.png" >
                    </div>
                    <h4>Trường Đại Học Tài Nguyên và Môi Trường TP.HCM</h4>
                    <div>236B Lê Văn Sỹ, P.1, Q. Tân Bình, TP. Hồ Chí Minh</div>
                    <div>02838443006</div>
                    <div>info@hcmunre.com</div>
                </div>
            </div>
            <table class="table">
                <tr>
					<th>Hình ảnh</th>
                    <th>Tên Giảng Viên</th>
                    <th>Chức Vụ</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Nơi Sinh</th>
                    <th>Nơi Đào Tạo</th>
                    <th>Môn dạy</th>
                </tr>
                <tr th:each="giangVien:${giangVienList}">
				   <td style="width: 70px; height: 70px; object-fit: cover;">
						<img style="width: 100%; height: 100%;" th:src="'data:image/jpeg;base64,' + ${giangVien.hinhAnh}">
					</td>
                   <td th:text="${giangVien.tenGiangVien}"></td>
                   <td th:text="${giangVien.chucVu}"></td>
                   <td th:text="${giangVien.ngaySinh}"></td>
                   <td th:text="${giangVien.gioiTinh}"></td>
                   <td th:text="${giangVien.noiSinh}"></td>
                   <td th:text="${giangVien.noiDaoTao}"></td>
                   <td th:if="${giangVien.danhSachMonHoc != null and !giangVien.danhSachMonHoc.empty}">
						<span th:each="monHoc, status : ${giangVien.danhSachMonHoc}">
							<span th:text="${monHoc.tenMonHoc}"></span>
							<span th:if="${!status.last}">,</span>
						</span>
					</td>
                </tr>
                
            </table>
        </div>
    </div>

     <div th:replace="~{fragment::footer}"></div>
    
</body>
</html>