<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lộ trình học</title>
    <link href="css/header.css" rel="stylesheet">
    <link href="css/chuyenNganh.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="body" style="overflow-x: hidden;">
        <!-- Header -->
        <div class="header">
            <div>
                <img class="Logo-img" src="img/logoTruong.png">
            </div>

            <div class="name-school">
                <div class="boTNMT">
                    BỘ TÀI NGUYÊN VÀ MÔI TRƯỜNG
                </div>

                <div class="tenTruong">
                    TRƯỜNG ĐẠI HỌC TÀI NGUYÊN VÀ MÔI TRƯỜNG TP.HCM
                </div>

                <div class="englishName">
                    HO CHI MINH UNIVERSITY OF NATURAL RESOURCES AND ENVIRONMENT
                </div>
            </div>

            <div th:replace="~{fragment::account}"></div>
        </div>

        <!-- Header1 -->
       <div th:replace="~{fragment::header}"></div>

        <div class="container">
            <div class="container-baiviet">
                <h2>BÀI VIẾT</h2>
                <div class="baiViet">
                    <div>
                        <img class="logoTruong" src="img/logoTruong.png" >
                    </div>
                    <h4>Trường Đại Học Tài Nguyên và Môi Trường TP.HCM</h4>
                    <div>236B Lê Văn Sỹ, P.1, Q. Tân Bình, TP. Hồ Chí Minh</div>
                    <div>02838443006</div>
                    <div>info@hcmunre.com</div>
                </div>
            </div>
            <!--Content -->
            <div class="detail-container">
                <h2>Chương Trình Đào Tạo Chuyên Ngành Hệ Chính Quy</h2>

				<th:block th:each="nganhHoc:${nganhHocList}">
	                <div class="big-table">
	                    <h3 th:text="${nganhHoc.tenNganh}"></h3>
	
	                    <table class="table">
	                        <tr>
	                            <th>Tên Môn Học</th>
	                            <th>Số Tín Chỉ</th>
	                            <th>Năm Học</th>
	                        </tr>
	
                            <tr th:each="monHoc:${monHocList}" th:if="${#lists.contains(monHoc.danhSachNganhHoc, nganhHoc)} and ${monHoc.danhSachChuyenNganh.isEmpty()}">
                                <td th:text="${monHoc.tenMonHoc}"></td>
                                <td th:text="${monHoc.soTinhChi}">3</td>
                                <td th:text="'Học kỳ ' + ${monHoc.hocKiCuaSinhVien} + ' Năm ' + ${monHoc.namHocCuaSinhVien}"></td>
                            </tr>
	                    </table>
	                </div>
	
	                <div class="big-table" th:each="chuyenNganh:${chuyenNganhList}" th:if="${chuyenNganh.nganhHoc.id == nganhHoc.id}">
	                    <h4 class="small-title" th:text="'Chuyên Ngành: ' + ${chuyenNganh.tenChuyenNganh}"></h4>
		
	                    <table class="table">
	                        <tr>
	                            <th>Tên Môn Học</th>
	                            <th>Số Tín Chỉ</th>
	                            <th>Năm Học</th>
	                        </tr>
	
                            <tr th:each="monHoc:${monHocList}" th:if="${monHoc.danhSachChuyenNganh.isEmpty() == false}  and ${#lists.contains(monHoc.danhSachChuyenNganh, chuyenNganh)}">
                                <td th:text="${monHoc.tenMonHoc}"></td>
                                <td th:text="${monHoc.soTinhChi}"></td>
                                <td th:text="'Học kỳ ' + ${monHoc.hocKiCuaSinhVien} + ' Năm ' + ${monHoc.namHocCuaSinhVien}"></td>
                            </tr>
	                            
	                    </table>
	                </div>
	               
				</th:block>

               


            </div>
        </div>
    </div>

	     <!-- Footer -->
	     <div th:replace="~{fragment::footer}"></div>
    </div>
    
</body>
</html>