<!DOCTYPE html>
<html lang="en">

<head th:replace="~{_fragments::head}">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

       <!-- Sidebar -->
         <ul th:replace="~{_fragments::sidebar}"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
               <nav th:replace="~{_fragments::topbar}"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertModal" data-whatever="@mdo">Thêm đề tài nghiên cứu</button>
                        
                        <div class="card-header py-3">
							<div th:if="${error != null}" class="text-center">
								<p class="alert alert-danger" th:text="${error}"></p>
							</div>
							
                            <h6 class="m-0 font-weight-bold text-primary">Đề tài nghiên cứu</h6>
                           
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>   
											<th>Năm thực hiện</th>
											<th>Tên đề tài</th>
											<th>Tên giáo viên thực hiện</th>
											<th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th>Năm thực hiện</th>
											<th>Tên đề tài</th>
											<th>Tên giáo viên thực hiện</th>
											<th>Thao tác</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="deTai:${deTaiNghienCuuList}">
											<td th:text="${deTai.nam}"></td>
											<td th:text="${deTai.tenDeTai}"></td>
											<td th:text="${deTai.tenCacGiangVien}"></td>
											<td>
												<a class="editButton" th:href="@{/deTaiNghienCuu/findById(id = ${deTai.id})}" data-toggle="modal" data-target="#editModal" data-whatever="@mdo">Chỉnh sửa</a> | 
												<a th:href="@{/deTaiNghienCuu/deleteById(id = ${deTai.id})}">Xóa</a>
											</td>
										</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="~{_fragments::footer}"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="~{_fragments::scrollToTop}"></a>

	<!--Logut modal-->
    <div th:replace="~{_fragments::logoutModal}"></div>
    	
	<!--Js-->
    <div th:replace="~{_fragments::js}">
	</div>
	
	<!--Insert đề tài nghiên cứu-->
    <div class="modal fade bd-example-modal-lg" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Thêm đề tài nghên cứu</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form method="post" th:action="@{/deTaiNghienCuu/themDeTaiNghienCuu}" >
				<div class="form-group">
		            <label for="recipient-name" class="col-form-label">Tên đề tài:</label>
		            <input name="tenDeTai" type="text" class="form-control" id="recipient-name" required>
	            </div>
	            
	            <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Tên các giáo viên thực hiện:</label>
		            <input name="allTenCacGiangVien" type="email" list="giangVienList" autocomplete="off" placeholder="Tên giảng viên tham gia phân cách bởi dấu ','" class="form-control" id="recipient-name" multiple required>
		          	<datalist id="giangVienList">
					  	<option  th:each="giangVien:${giangVienList}" th:text="${giangVien.tenGiangVien}" th:value="${giangVien.emailTruong}"></option>
				 	 </datalist>
	            </div>
	            
	            <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Ngày thực hiện:</label>
		            <input name="nam" type="date" class="form-control" id="recipient-name" required>
	            </div>
	            
				<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tắt</button>
			        <button type="submit" class="btn btn-primary">Thêm</button>
			     </div>
		          
	        </form>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	<!--Edit đề tài nghiên cứu-->
    <div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa đề tài nghên cứu</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form method="post" th:action="@{/deTaiNghienCuu/chinhSuaDeTaiNghienCuu}">
				<input type="hidden" name="id" id="idEdit">
				<div class="form-group">
		            <label for="recipient-name" class="col-form-label">Tên đề tài:</label>
		            <input name="tenDeTai" type="text" class="form-control" id="tenDeTaiEdit" required>
	            </div>
	            
	            <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Tên các giáo viên thực hiện:</label>
		            <input name="allTenCacGiangVien" type="email" list="giangVienList" autocomplete="off" placeholder="Tên giảng viên tham gia phân cách bởi dấu ','" class="form-control" id="allTenCacGiangVienEdit" multiple required>
		          	<datalist id="giangVienList">
					  	<option  th:each="giangVien:${giangVienList}" th:text="${giangVien.tenGiangVien}" th:value="${giangVien.emailTruong}"></option>
				 	 </datalist>
	            </div>
	            
	            <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Ngày thực hiện:</label>
		            <input name="nam" type="date" class="form-control" id="namEdit" required>
	            </div>
	            
				<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tắt</button>
			        <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
			     </div>
		          
	        </form>
	      </div>
	      
	    </div>
	  </div>
	</div>

	
	<script th:src="@{/js/deTaiNghienCuu.js}"></script>
	
    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
</body>

</html>