<!DOCTYPE html>
<html lang="en">

<head th:replace="~{_fragments::head}">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

       <!-- Sidebar -->
         <ul th:replace="~{_fragments::sidebar}"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
               <nav th:replace="~{_fragments::topbar}"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        
                        <div class="card-header py-3">
							<div th:if="${error != null}" class="text-center">
								<p class="alert alert-danger" th:text="${error}"></p>
							</div>
							
                            <h6 class="m-0 font-weight-bold text-primary">Sinh viên đóng học phí</h6>
                           
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>   
											<th>Lớp học</th>
											<th>Ngành Học</th>
											<th>Chuyên ngành</th>
											<th>Học phí đã đóng</th>
											<th>MSSV</th>
											<th>Tên sinh viên</th>
											<th>Ngày sinh</th>
											<th>Số điện thoại</th>
											<th>Email</th>
											<th>Email trường</th>
											<th>Password</th>
											<th>Giới tính</th>
											<th>Nơi sinh</th>
											<th>Niên khóa</th>
											<th>Số khóa</th>
											<th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th>Lớp học</th>
											<th>Ngành Học</th>
											<th>Chuyên ngành</th>
											<th>Học phí đã đóng</th>
											<th>MSSV</th>
											<th>Tên sinh viên</th>
											<th>Ngày sinh</th>
											<th>Số điện thoại</th>
											<th>Email</th>
											<th>Email trường</th>
											<th>Password</th>
											<th>Giới tính</th>
											<th>Nơi sinh</th>
											<th>Niên khóa</th>
											<th>Số khóa</th>
											<th>Thao tác</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="SVHP:${sinhVienList}">
											<td th:text="${SVHP.sinhVien.lopHoc.tenLopHoc}"></td>
											<td th:text="${SVHP.sinhVien.nganhHoc.tenNganh}"></td>
											<td th:if="${SVHP.sinhVien.chuyenNganh != null}" th:text="${SVHP.sinhVien.chuyenNganh.tenChuyenNganh}"></td>
											<td th:if="${SVHP.sinhVien.chuyenNganh == null}" ></td>
											<td th:text="${SVHP.hocPhi.tenNganhHocHoacChuyenNganh} + ', Năm ' + ${SVHP.hocPhi.namHoc} + ', Năm học sinh viên: ' + ${SVHP.hocPhi.namHocCuaSinhVien} + ', Học kì: ' + ${SVHP.hocPhi.hocKi} + ', Tạm hoãn: ' + ${SVHP.tamHoan}"></td>
											<td th:text="${SVHP.sinhVien.id}"></td>
											<td th:text="${SVHP.sinhVien.hoVaTen}"></td>
											<td th:text="${SVHP.sinhVien.ngaySinh}"></td>
											<td th:text="${SVHP.sinhVien.SDT}"></td>
											<td th:text="${SVHP.sinhVien.email}"></td>
											<td th:text="${SVHP.sinhVien.emailTruong}"></td>
											<td th:text="${SVHP.sinhVien.password}"></td>
											<td th:text="${SVHP.sinhVien.gioiTinh}"></td>
											<td th:text="${SVHP.sinhVien.noiSinh}"></td>
											<td th:text="${SVHP.sinhVien.nienKhoa}"></td>
											<td th:text="${SVHP.sinhVien.soKhoaCuaNganh}"></td>
											<td th:if="${SVHP.tamHoan == true}">
												<a th:href="@{/sinhVien/sinhVienDongHocPhi/xacNhanDongHocPhi(id = ${SVHP.id})}">Xác nhận đóng</a> | 
												<a th:href="@{/sinhVien/sinhVienDongHocPhi/deleteSinhVienHocPhiById(id = ${SVHP.id})}">Xóa</a>
											</td>
											<td th:if="${SVHP.tamHoan == false}">
												<a th:href="@{/sinhVien/sinhVienDongHocPhi/tamHoanHocPhi(id = ${SVHP.id})}">Tạm hoãn</a> | 
												<a th:href="@{/sinhVien/sinhVienDongHocPhi/deleteSinhVienHocPhiById(id = ${SVHP.id})}">Xóa</a>
											</td>
										</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="~{_fragments::footer}"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="~{_fragments::scrollToTop}"></a>

	<!--Logut modal-->
    <div th:replace="~{_fragments::logoutModal}"></div>
    
    
	
	
	
	
	

	<!--Js-->
    <div th:replace="~{_fragments::js}">
	</div>
	
	
    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
</body>

</html>